.deps
.libs
config.status
config.log
libtool
stamp-h1
config.h
autom4te.cache
Makefile
src/mandoline
src/BGL/tests/Test-G*-T*.sh
src/BGL/tests/G03_T*_path
src/BGL/tests/G04_T*_simpleregion
src/BGL/tests/G05_T*_compoundregion
src/BGL/tests/logs
src/BGL/tests/result_svgs
*~
*.o
*.lo
*.a
*.la
*.swp
*.DS_Store
