.deps
.libs
src/libtool
src/stamp-h1
src/config.h
src/mandoline
src/BGL/libtool
src/BGL/stamp-h1
src/BGL/config.h
autom4te.cache
Makefile
*~
config.status
config.log
*.o
*.lo
*.a
*.la
*.swp
*.DS_Store
src/BGL/tests/Test-G*-T*.sh
